.column {
    /* float: right;
    margin: -200px 100px -15px 15px; */
    float: right;
    width: 25vw;
    justify-content: flex-start;
    align-content: flex-start;
    padding-left: 40px;
    margin-right: 100px;
}

.column img {
    border: 8px solid #482D1C;
    width: 10vw;
    height: auto;
    margin: 8;  
}
#main {
    padding-left: 15vw;
    width: 75vw;

}

@media only screen and (max-width: 425px) and (min-width: 320px){

    #main {
        width: 100vw;
    }
    .column {
        /* float: right; */
        /* margin: -1px 100px -10px 15px; */
        display: flex;
        /* flex-direction: row; */
        flex-wrap: wrap;
        width: 100vw;
        /* gap: 100px; */
        justify-content: center;
        /* align-content: space-around; */
   
    }
   
    .column img {
        border: 8px solid #482D1C;
        margin: 8px;  
        width: 30vw;
        height: auto;
    }

    footer{
        clear:both;
        height: 6vh;
    }
    footer h4 {
        font-family: 'Alkatra', cursive;
        color: white;
        text-align: center;
        padding: 10px;
    }
}